#logout {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

#forwarder-form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
}

#forwarder-form-container p {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#forwarder-form-container input {
  display: flex;
  flex-grow: 1;
}

#forwarder-form-container .submit {
  justify-content: center;
}

#forwarder-form p {
  margin: 0px 5px;
}

#forwarder-form label {
  margin: 5px 5px 5px 0;
}

#forwarder-form input {
  vertical-align: middle;
  margin: 5px;
  padding: 2px;
}

#forwarder-form button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

#forwarder-data {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#forwarder-errors {
  text-align: center;
}

#forwarder-data-table .col-email {
  min-width: 20em;
}

#forwarder-data-table td.expired .expiry:after {
  content: "\23f1\fe0e";
  margin-left: 0.5em;
  color: #d55;
}

#forwarder-data-table td.expiring .expiry:after {
  content: "\23f1\fe0e";
  margin-left: 0.5em;
  color: #dd5;
}

#forwarder-data-table tr .remove {
  content: "\2718\fe0e";
  color: red;
  text-decoration: none;
}

#forwarder-data-table td, #forwarder-data-table th {
  text-align: center;
}

#forwarder-data-table .not-owned td {
  color: #888;
  font-style: italic;
}

#forwarder-data-table tr.not-owned .remove {
  color: #e99;
  font-style: normal;
}

/* pager element reset (needed for bootstrap) */
.tablesorter-pager select {
  text-align: center;
}

.pager {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}