#forwarder-form p {
  margin: 0px 5px;
}

#forwarder-form label {
  margin: 5px 10px 5px 0;
}

#forwarder-form input {
  vertical-align: middle;
  margin: 5px 2px 5px 0;
  padding: 2px;
}

#forwarder-form button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

#forwarder-data-table td.expired {
  background: red;
}

.error {
  color: red;
  font-style: oblique;
}

#forwarder-data-table td {
  text-align: center;
}

/* pager element reset (needed for bootstrap) */
.tablesorter-pager select {
  width: 3.5em;
  text-align: center;
}
