#forwarder-form p {
  margin: 0px 5px;
}

#forwarder-form label {
  margin: 5px 10px 5px 0;
}

#forwarder-form input {
  vertical-align: middle;
  margin: 5px 2px 5px 0;
  padding: 2px;
}

#forwarder-form button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

#forwarder-data-table {
  width: auto;
}

#forwarder-data-table .odd td.expired {
  background: #d88;
}

#forwarder-data-table .even td.expired {
  background: #faa;
}

#forwarder-data-table .odd td.expiring {
  background: #dd8;
}

#forwarder-data-table .even td.expiring {
  background: #ffa;
}

#forwarder-data-table tr .remove {
  content: "\2718";
  color: red;
  text-decoration: none;
}

.error {
  color: red;
  font-style: oblique;
}

.hidden {
  display: none;
}

#forwarder-data-table td, #forwarder-data-table th {
  text-align: center;
}

/* pager element reset (needed for bootstrap) */
.tablesorter-pager select {
  width: 3.5em;
  text-align: center;
}
